@font-face {
    font-family: 'airways';
    src: url('../fonts/airways.ttf') format('truetype');
}


body { 
  background: url(../images/Background7.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.banner {
    background: radial-gradient(circle at center, rgba(48,191,253,1) 0%,rgba(21,91,225,0) 100%);
    background: radial-gradient(circle at center, rgba(22, 213, 225,0.7) 0%,rgba(22, 213, 225,0) 100%);
    /*background: none;*/
    height: 100px;
    display: block;  
     
}

.startpagelogo a {
    float: left;
    /*font: bold 40px airways;*/
    font-family: airways, 'Segoe Script';
    font-size: 40px;
    /*font-weight: bold;*/
    color: white;
    padding: 10px;
    text-shadow: 2px 2px #000000;
    transition: all 0.5s;
}

.startpagelogo a:hover {
    text-decoration: none;
    color: rgba(48,191,253,1);
    cursor: pointer;
    transition: all 0.5s;
}

.startpagelinks {
    float: right;
    color: white;
}

.startpagelinks a {
    color: white;
}

.startpageclear {
    clear: both;
}

h1 {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 36px;
}

label {
    color: white;
    
    
}

/*
.form-control {
    border-radius: 15px;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    color: white;
}
    */

.input-group
{
    border: 1px solid white;
    border-radius: 15px;
    
    /*box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.75);*/
    box-shadow: 0px 0px 26px -1px rgba(142,228,237,1), 8px 8px 10px 0px rgba(0,0,0,1);
    background-color: rgba(42,128,137,0.5);
}

.input-group:focus
{
        border: 1px solid #bfa45b;
}
  
  

.form-control {
    height: 30px;
    font-size: 14px;
    /*box-shadow: 0px 0px 26px -1px rgba(142,228,237,1);*/
    border: 1px solid white;
    /*border: none;*/
    border-radius: 15px;


    background-color: rgba(42,128,137,0.5);
    border: 1px solid white;
    border-left: none;

    background: none;

    color: white;
}

.input-group-addon {
    border-radius: 15px;
    border: none;
    background-color: rgba(42,128,137,0.5);
    /*border: none;*/
    background: none;
    /*border: 1px solid white;
    border-right: none;*/
        /*cornflowerblue;*/
    color: white;
}


.form-control:focus {
    
    box-shadow: 0px 0px 25px 3px rgba(142,228,237,1);
    border: 3px solid #bfa45b;
    border-radius: 15px !important;
    background: none !important;
    
    
}

.form-control:focus~input-group-addon {
    border: 1px solid #bfa45b;
    border-right: none;
    background: none;
}
    


 .input-group-addon:focus {
    border: 1px solid #bfa45b;
    border-right: none;
}
 

/*
input::-webkit-input-placeholder {
  color: white;
}
input::-moz-placeholder {
  color: white;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: white;
}
input:-moz-placeholder {
  color: white;
  opacity: 1;
}
*/


.center-align {
    margin: 0px auto 0px auto;
    width: 40%;
}

.btn-link {
    color: white;
}

.btn-link:hover {
    color: white;

}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 310px;
    margin: auto;
}

.view-stars span.star-full {
    /*background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
    text-shadow: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
    color: orange;
    text-shadow: 2px 2px rgba(0,0,0,0.5);

}

.view-stars span.star-empty {
    /*background: linear-gradient(to bottom, rgba(255,249,249,1) 0%,rgba(188,206,214,1) 50%);
    text-shadow: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,0.5);

}


.dropdown-menu
{
    min-width: 330px;
    border-radius: 2px;
    background-color: rgba(42,128,137,0.5);
    border: 1px solid white;
    box-shadow: 0px 0px 25px 3px rgba(142,228,237,1);
    border: 1px solid #bfa45b;
    border: 1px solid white;

    color: white;
}

.dropdown-menu > li > a {
    color: #e0e0e0;
}


.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: white;
    text-decoration: none;
    background-color: #dfc95b;
    box-shadow: 0px 0px 5px 2px #dfc95b;
    text-shadow: 1px 1px rgba(85, 85, 85, 0.7);
}

.dropdown-menu b {
    background-color: blue;
}
.dropdown-toggle {
    border-radius: 15px;
    border-color: blue;
    background: none;
}
/*
.input-group {
    border-radius: 15px;
    border-color: blue;
}
    */

input [typeahead] {
    border: blue;
}
