
@font-face {
    font-family: 'airways';
    src: url('../fonts/airways.ttf') format('truetype');
}

@font-face {
    font-family: 'fontawesome-webfont';
    src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
}

body { 
  background: url(../images/Background7.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.body-content {
    padding-top: 100px; 
}

p {
    color: white;
}

label {
    color: #d5d5d5;
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

a:visited {
    color: cadetblue;
    color: aquamarine;
}

.link-shadow {
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.0) 25%, rgba(0,0,0,0.60) 50%, rgba(0,0,0,0.0) 75%);*/
    background: radial-gradient(rgba(142,228,237,0.6) 0%, rgba(0,0,0,0.0) 70%);
    background: radial-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.0) 70%);
    /*padding: 5px 10px 5px 10px;*/
    padding: 0px;
    padding-left: 5px;
    border-radius: 5px;


    /*box-shadow: 0px 0px 6px -1px rgba(142,228,237,1);*/
    border-radius: 3px;
    /*background-color: rgba(42,128,137,0.3);*/
    /*background: linear-gradient(to right, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.60) 50%, rgba(0,0,0,0.0) 100%);*/
}


.container {
    /*background-color: rgba(255,255,255,0.0);*/
    /*background-color: rgba( 22, 213, 225 ,0.3);

    box-shadow: 0px 0px 70px -1px rgba(22, 213, 225,0.7);*/
}

div.banner {
    background: radial-gradient(circle at center, rgba(48,191,253,1) 0%,rgba(21,91,225,0) 100%);
    background: radial-gradient(circle at center, rgba(22, 213, 225,0.7) 0%,rgba(22, 213, 225,0) 100%);
    /*background: none;*/
    height: 100px;
    display: block;  
     
}

div.banner-center{
    width: 100%;
    display: block;
    
    float: left;
    margin: 20px 0px 20px 0px;

    /*background-color: forestgreen;*/
    height: 50px;
 

    
    /*padding-top: 10px;*/

    
}

div.banner-image {
    display: block;
    float: left;
    height: 50px;  
    color: white;
     
   
    /*background-color: mediumpurple;*/
}

div.banner-image a {
    display: block;
    /*background-color: mediumpurple;*/
    font-family: 'airways', 'Segoe Script';
    font-size: 40px;
    color: white;
    padding: 10px;
    text-shadow: 2px 2px #000000;
    transition: all 0.5s;
    text-decoration: none;
}

div.banner-image a:hover {
    text-decoration: none;
    color: rgba(48,191,253,1);
    cursor: pointer;
    transition: all 0.5s;

}

div.banner-controls {
    display: block;
    float: right;
    color: white;
    padding: 10px;
    /*background-color: aquamarine;*/
}



div.banner-controls a {
    color: white;
}

div.banner-controls label {
    color: white;
}
    
div.banner-clear {
    clear: both;
}



.navbar {
    margin: 0px;
    height: 50px;
    border: 0px solid black;
    border-radius: 0px;
    background-color: black;
    /*background: linear-gradient(to top, rgba(174,188,191,1) 0%,rgba(110,119,116,1) 20%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%);*/
   /*box-shadow: #c7d1dd 0px 5px;*/

}

.navbar-header {
    /*height: 50px;*/
    /*vertical-align: central;*/
    color: white;
    /*height: 50px;*/
}

.navbar-header a {
    text-decoration: none;
}

/*
.navbar-nav {
    height: 50px;
}
    */

.icon-bar {
     color: white;
     background-color: white;
}

.navbar-brand {
     color: white; 
     transition: all 0.5s;
}

.navbar-brand:hover {
     color: rgba(48,191,253,1); 
     transition: all 0.5s;
}


.navbar-nav li {
    display: block;
    background-color: black;
    height: 50px;
    width: 100px;
    border-left: 1px dashed #202020;
    margin: 0px;
    padding: 0px;
}

ul.navbar-nav li a {
    text-decoration: none;
}

ul.navbar-nav li a p {
      color: white;
      /*padding: 7px;*/
      text-align: center; 
      font-size: 12px;
}

ul.navbar-nav li a span {
      margin-top: -10px;
      font-size: 20px;
      display: block;
      text-align: center;
      margin-bottom: -5px;
}

/*
.navbar-nav li a {
     
     background-color: yellow;
     
}
    */


.navbar-nav li a {
    height: 50px;
}

.navbar-nav li a:hover{
     background-color: orange;
     background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
     border: 0px;
     border-bottom: 1px solid black;
     background:#20a281 -webkit-linear-gradient(310deg, #20a281 0%, #20a281 10%, #1e9a7a 10%, #1e9a7a 20%, #1c8f71 19%, #1d9274 21%, #1d9274 20%, #1d9274 30%, #1a876b 29%, #1b8a6d 31%, #1b8a6d 30%, #1b8a6d 40%, #197f64 39%, #1a8267 41%, #1a8267 40%, #1a8267 50%, #17765e 49%, #187a61 51%, #187a61 50%, #187a61 60%, #166e58 59%, #16725a 61%, #16725a 60%, #16725a 70%, #146651 69%, #156954 71%, #156954 70%, #156954 80%, #135e4b 79%, #13614d 81%, #13614d 80%, #13614d 90%, #115644 89%, #125947 91%, #125947 90%, #125947 100%);
     background:#115d82 -webkit-linear-gradient(310deg, #115d82 0%, #115d82 10%, #10587b 10%, #10587b 20%, #0f5272 19%, #0f5475 21%, #0f5475 20%, #0f5475 30%, #0e4d6c 29%, #0e4f6e 31%, #0e4f6e 30%, #0e4f6e 40%, #0d4865 39%, #0d4a68 41%, #0d4a68 40%, #0d4a68 50%, #0c445f 49%, #0c4661 51%, #0c4661 50%, #0c4661 60%, #0b3f58 59%, #0c415b 61%, #0c415b 60%, #0c415b 70%, #0a3b52 69%, #0b3c54 71%, #0b3c54 70%, #0b3c54 80%, #0a364b 79%, #0a384e 81%, #0a384e 80%, #0a384e 90%, #093145 89%, #093347 91%, #093347 90%, #093347 100%);
  /*
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
  */
     /*height: 50px;*/
     
}

    

.navbar-toggle {
    border: 1px dashed #505050;
    
}

.navbar-collapse {
     background-color: black;
     
}


article {
    margin: 0px 0px 10px 0px;
    padding: 15px 15px 10px 15px;
    
}

.page-separator-grey {
    height: 3px;
    background-color: #c7d1dd;
}

.page-separator-yellow {
    height: 3px;
    background-color: orange;
}

.page-separator-shadow {
    margin-top: -3px;
    height: 3px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}


h1 {
    
    color: #ffffff;
    background: linear-gradient(to bottom, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
    
    color: #ffffff;
    background: linear-gradient(to bottom, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    
}

h3 {
    
    color: #ffffff;
    background: linear-gradient(to bottom, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



.btn, .btn:hover, .btn:focus /*, .btn:active*/
{
  height: 30px;
  background: linear-gradient(to bottom, rgba(205,181,155,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
  /*background: linear-gradient(to bottom, rgba(110,220,242,1) 0%,rgba(84,210,238,1) 50%,rgba(54,200,240,1) 51%,rgba(30,161,222,1) 100%);*/
  /*background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);*/
  border: 1px solid #bfa45b;
  /* position: relative;*/
  transition: all 0.3s ease 0s;
  color: rgba(160,106,55,1);
  /* disaled text color: rgba(205,181,155,1);*/
  
}

a.btn {
    color: white;
    text-decoration: none;
}
    
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    /*background: linear-gradient(to bottom, rgba(37,103,188,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(43,148,229,1) 100%);*/
    background: linear-gradient(to bottom, rgba(160,106,55,1) 0%,rgba(183,100,30,1) 49%,rgba(229,178,106,1) 100%);
    color: white;
    border-color: #5d502b;

}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background: linear-gradient(to bottom, rgba(38,159,220,1) 0%,rgba(21,171,235,1) 49%,rgba(117,188,243,1) 100%);
    color: white;
    border: 1px solid rgba(32,124,202,1)
}

/*.btn-primary:active,*/
.btn:hover, .btn:focus,  .open .dropdown-toggle.btn {
    /*background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%);
    border-color: dodgerblue;
    color: white;*/

    
    /*color: rgba(160,106,55,1);*/
    /*margin: 0 auto;*/
    transform: translateY(-2px);
    
    box-shadow: 0px 8px 15px -1px rgba(0,0,0,1);
    transition: all 0.5s;
 
 }

.btn-primary:hover {
    color: white;
}

.btn-secondary:hover {
    color: white;
}

.btn-primary:active {
    background: linear-gradient(to bottom, rgba(160,106,55,1) 0%,rgba(183,100,30,1) 49%,rgba(229,178,106,1) 100%);
    color: white;
    border-color: #5d502b;
    
    /*top: 0px;
    transform: translateY(2px);*/

}

/*
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
    */


/*
.btn-primary {
    font-size: 12px;
    background: linear-gradient(to bottom, rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 51%,rgba(10,8,9,1) 100%);
}
    */

.form-control {
    height: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 26px -1px rgba(142,228,237,1);
    border: 1px solid white;

    border-radius: 15px;
    background-color: rgba(42,128,137,0.5);
    border: 1px solid white;
    color: white;
}



.form-control:focus {
    box-shadow: 0px 0px 25px 3px rgba(142,228,237,1);
    border: 1px solid #bfa45b;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

div.about-container {
    /*
    margin: 10px auto 10px auto;
    width: 280px;
    height: 350px;*/
    border-bottom: 3px solid rgba(43,148,229,1);
    border-bottom: 3px solid #bfa45b;
    background-color: rgba(22, 113, 125, 0.5);

    box-shadow: 0px 0px 30px -1px rgba(22, 213, 225, 1);
    
    
}
div.about-container p {
    color: white;
}

div.search-result {
    margin: 30px 0px 30px 0px;
    /*border: 1px dotted #d0d0d0;*/
    
}

.package {
    display: block;
    float: left;
    /*background-color: #f0f0e0;*/
    /*background: none;*/

    /*background-color: rgba( 22, 213, 225 ,0.3);*/
    color: black;
    
    /*border: 1px solid red;*/
    
    
    width: 300px;
    height: 400px;

    padding: 10px;
    font-family: 'Segoe UI';
}

.package-inner {
    margin: 10px auto 10px auto;
    width: 280px;
    height: 375px;
    background-color: #edebe2;
    border-bottom: 3px solid rgba(43,148,229,1);
    border-bottom: 3px solid #bfa45b;

    box-shadow: 0px 0px 30px -1px rgba(22, 213, 225, 1);
    
}

.package-thumbnail {
    width: 280px;
    height: 200px;
    background-color: #303030;
}

.package-name {
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    /*background-color: purple;*/
}

.package-price {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    /*color: deepskyblue;*/
    text-align: center;
    
	/*background: -webkit-linear-gradient(top, #878787, #000);
	background: linear-gradient(top, #878787, #000);*/
    background: linear-gradient(to bottom, rgba(0,19,198,1) 0%,rgba(117,18,170,1) 73%,rgba(222,71,172,1) 100%);
    background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.package-description {
    font-family: 'Segoe Print';
    font-style: italic;
    font-weight: lighter;
 
    font-size: 14px;
    text-align: center;
}

.package-location {
    font-style: italic;
    font-weight: lighter;
 
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}

.package-location p {
    color: #606060;
}

.package-location p span {
    background-color: blue;
    color: white;
    font-weight: bold;
}

.package-rating {
    text-align: center;
    margin: 5px auto 5px auto;
}

.package-rating p {
    font-style: italic;
    font-weight: lighter;
    color: #808080;
}

/*
.view-stars span {
    display: inline;
    float: left;
}
    */


.package-buy {
    margin-right: 5px auto 5px auto;
    text-align: center;
    padding: 0px;
    
}

.package-buy span {
    font-size: 12px;
}

.package-buy a.btn {
    background-color: red;
    border-radius: 15px;
    font-size: 16px;
    padding: 2px;
    padding-right: 15px;
    padding-left: 15px;
}

.package-edit {
    margin-left: 10px;
    /*text-align: center;*/
    padding: 0px;
    padding-left: 0px;
    
}

.package-separator {
     border-top: 3px ridge #d0d0d0;
     margin-top: 15px;
     margin-bottom: 15px;
}



/*
.custom-checkbox > [type="checkbox"],
	.custom-checkbox > label{
		margin-bottom:0px !important;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked),
	.custom-checkbox > [type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked) + label,
	.custom-checkbox > [type="checkbox"]:checked + label {
		position: relative;
		padding-left: 22px;
		cursor: pointer;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
	.custom-checkbox > [type="checkbox"]:checked + label:before {
		content: '';
		position: absolute;
		left:0; 
		top: 50%;
		margin-top:-9px;
		width: 17px; 
		height: 17px;
		border: 1px solid #ddd;
		background: #ffffff;
		border-radius: 2px;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked) + label:after,
	.custom-checkbox > [type="checkbox"]:checked + label:after {
		font: normal normal normal 12px/1 'Glyphicons Halflings';
		content: '\e013';
		position: absolute;
		top: 50%;
		margin-top:-7px;
		left: 2px;
		color: #94C947;
		xtransition: all .2s;
	}
	
	.custom-checkbox > [type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
		transform: scale(0);
	}
	.custom-checkbox > [type="checkbox"]:checked + label:after {
		opacity: 1;
		transform: scale(1);
	}
	
	.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after,
	.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after {
		content: '\2212';
		left: 2px;
		opacity: 1;
		transform: scale(1);
	}
	
	.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before,
	.custom-checkbox > [type="checkbox"]:disabled:checked + label:before {
	  	box-shadow: none;
	  	background-color: #eeeeee;
		border-color: #eeeeee;
		cursor: not-allowed;
		opacity: 1;
		color: #dadada;
	}
	.custom-checkbox > [type="checkbox"]:disabled:checked + label:after {
	  color: #dadada; cursor: not-allowed;
	}
	.custom-checkbox > [type="checkbox"]:disabled + label {
	  color: #aaa; cursor: not-allowed;
	}
	.custom-checkbox > [type="checkbox"]:checked:focus + label:before,
	.custom-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
		border: 1px solid #66afe9;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	}
	.custom-checkbox > label:hover:before {
  		border: 1px solid #88D2FF !important;
	}
	.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:hover:before,
	.custom-checkbox > [type="checkbox"]:disabled:checked + label:hover:before{
		border: 1px solid #E4E4E4 !important;
	}
*/	

.dropdown ul 
{
    background: black;
    color: white;
    font-size: 12px;
    border: 1px solid #a0a0a0;
    padding: 0px;
   
    width: 150px;
    /*
    color: pink;
    text-decoration: underline;
    text-align: right;
    float: right;
        */

}

li.dropdown ul li {
    height: 25px;
    margin: 0px;  
    width: 150px;
    border: none;
    
}

li.dropdown ul li a {
    color: white;
    width: 150px;
    height: 25px;
}

/*
li.dropdown ul li:hover {
    background-color: orange;
    width: 150px;

    height: 25px;
    color: white;
    text-decoration: underline;
    width: 159px;
    border-radius: 2px;

}
*/


li.dropdown ul li a:hover {
    height: 25px;
    color: white;
    text-decoration: underline;
    width: 158px;
    
    /*border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;*/

}





/*
    .navbar-nav li a:hover{

    .dropdown-menu:hover,
.dropdown ul .dropdown-menu a:hover

ul .dropdown-menu,
ul .dropdown-menu a
{
    color: white;
    font-size: 12px;
    border: 1px solid red;
    

    text-align: right;
    float: right;
}
    */
    
.navbar-nav li ul {
    background-color: black;
    color: white;
}

.package-details {

    margin: 10px auto 10px auto;

    /*background-color: #edebe2;*/
    background-color: rgba(22, 113, 125, 0.5);
    
    border-bottom: 3px solid rgba(43,148,229,1);
    border-bottom: 3px solid #bfa45b;

    box-shadow: 0px 0px 30px -1px rgba(22, 213, 225, 1);

    padding: 10px;
    
}

.package-details-thumbnail {
    display: block;
    float: left;
    border: 3px solid #bfa45b;
}

.package-details-description {
    overflow:auto;
    
    padding-left: 10px;
   
}

.package-details p {
    width: 80%;
    color: white;
}

.package-details-location {
    overflow:auto;
    font-style: italic;

    padding-left: 10px;
    vertical-align: bottom;
}

.package-details-price {
    overflow: auto;
    display: block;
    float: left;
    background-color: rgba(22, 113, 125, 0.5);
    /*background-color: #e0f0f0;*/
    border-bottom: 3px solid #bfa45b;
    box-shadow: 0px 0px 30px -1px rgba(22, 213, 225, 1);
    margin-left: 10px;
    padding: 5px;
}

.package-details-price h4 {
    display: inline;
    /*color: #404040;*/
    color: white;
    font-family: 'Segoe Script';
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
}
.package-details-price p {
    overflow: auto;
    margin: 10px;
    display: inline;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    padding-top: 5px;
    /*color: deepskyblue;*/

    
	/*background: -webkit-linear-gradient(top, #878787, #000);
	background: linear-gradient(top, #878787, #000);*/
    background: linear-gradient(to bottom, rgba(0,19,198,1) 0%,rgba(117,18,170,1) 73%,rgba(222,71,172,1) 100%);
    background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
    text-shadow: #edebe2;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;



    

}

.package-details-book {
    display: inline;
    float: right;
    overflow: auto;
    /*margin: 10px;*/
    padding: 5px 10px 10px 10px;
    height: 60px;
}

.package-details-book a.btn {
    height: 35px;

    background-color: red;
    border-radius: 10px;
    font-size: 16px;
    padding: 7px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid white;

}


/*.package-details-rating .glyphicon-star*/
span.star-full {
    
    background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
    background-color: orange;
    text-shadow: #edebe2;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
        
    /*color: orange;*/
    
}
span.star-empty {
    
    background: linear-gradient(to bottom, rgba(255,249,249,1) 0%,rgba(188,206,214,1) 50%);
    background-color: white;
    text-shadow: #edebe2;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
        
    /*color: white;*/
    
}


.package-details-map {
    margin-top: 10px;
    padding: 0px;
}

.package-map {
    margin: 0px;
    padding: 0px;
    background-color: white;
    background: linear-gradient(to bottom, rgba(224, 224, 224,1) 0%,rgba(160, 160 , 160, 1) 100%);
    
    border: 3px solid #bfa45b;
    width: 286px;
    height: 206px;
 }

#map {
    margin: 0px;
    padding: 0px;
    width: 280px;
    height: 200px;

    /*background-color: #a0a0a0;
    background: linear-gradient(to bottom, rgba(224,243,244,1) 0%,rgba(144,192,188,1) 100%);*/
    
    background: url('../images/loader3.gif');
    background-repeat: no-repeat;
    background-position: center;

}
        

.package-details-feedback {
    margin: 20px auto 10px auto;
    background-color: rgba(22, 113, 125, 0.5);
    padding: 10px;
    border-bottom: 3px solid #bfa45b;
    box-shadow: 0px 0px 30px -1px rgba(22, 213, 225, 1);
}

.package-details-feedback h3 {
    margin-top: 0px;
}
.package-details-feedback div.package-feedback {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.package-feedback p {
    color: white;
}

.package-feedback-header {
    margin: 10px;
}

.package-feedback-content {
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(22, 113, 125, 0.5);
}

/*
table {
    border-radius: 10px;
  border: 1px solid #167F92;
}

.table {
    margin: 10px;
    width: 95%;
    background-color: rgba(22, 113, 125, 0.5);
      color: #024457;
  border-radius: 10px;

}

tbody {
    border: none;
}

thead {
    background-color: rgba(52, 143, 175, 0.5);
    background: none;
    border-radius: 10px;
      border: 1px solid #167F92;
}

.table-bordered {
    border: none;
}
    */

/*
table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
}	

th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:nth-child(odd) td {
	background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}
    */


table {
    background: steelblue;
    font-family: "Open Sans", arial;
    border-collapse: collapse;
    margin: 0px;

    background-color: rgba(22, 113, 125, 0.5);
    border: 1px solid rgba(72, 183, 195, 0.5);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    color: #024457;
    padding: 5px;
}

th {
  width: 5%;
  font-weight: lighter;
  text-shadow: 1px 1px 0 #38678f ;
  color: white;
  border: 1px solid rgba(72, 183, 195, 0.7);
  box-shadow: inset 0px 1px 2px #568ebd;
  transition: all 0.2s;
  padding: 5px;
}

tr {
 /* border-bottom: 1px solid #cccccc;*/
  border: none;
  border: 1px solid rgba(72, 183, 195, 0.7);
}
td {
  /*border-right: 1px solid #cccccc;*/
  padding: 0px 5px 0px 5px;
  margin: 0px;
  transition: all 0.2s;
  border: none;
  color: #023447;
  /*box-shadow: inset 0px 1px 2px #568ebd;*/

}

table:focus {
    background-color: black;
}

td input {
  font-size: 14px;
  background: none;
  outline: 1px solid white;
  border: 0;
    border: 1px solid rgba(72, 183, 195, 0.7);
  box-shadow: inset 0px 1px 2px #568ebd;
  display: table-cell;
  height: 100%;
  width: 100%;
  background-color: rgba(22, 113, 125, 0.5);
  color: white;
}
/*
td input:focus {
  box-shadow: 0 1px 0 steelblue;
  color: steelblue;
}
::-moz-selection {
  background: steelblue;
  color: white;
}
::selection {
  background: steelblue;
  color: white;
}
    */
td button {
    margin: 2px;
    width: 100%;
    height: 25px;
}



.checkbox {
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"] + label::before {
    content: "";
    margin-left: -20px;
    position: absolute;
    padding-left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    opacity: 1;

    /*background: linear-gradient(to bottom, rgba(38,159,220,1) 0%,rgba(21,171,235,1) 49%,rgba(117,188,243,1) 100%);*/
    background-color: rgba(42,128,137,0.5);
    color: white;
    border: 1px solid rgba(52,144,202,1);
    border: 1px solid white;
    /*border: 1px solid white;*/
    font-size: 14px;
    box-shadow: 0px 0px 26px -1px rgba(142,228,237,1);
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
    transition: all 1s;
}

.checkbox input[type="checkbox"] + label::after {
    margin-left: -15px;
    padding-left: 5px;
}

.checkbox input[type="checkbox"]:focus + label::before {
    box-shadow: 0px 0px 25px 3px rgba(142,228,237,1);
    border: 1px solid #bfa45b;
    
    
}

.checkbox input[type="checkbox"]:hover + label::before {
    border: 1px solid #bfa45b;
    transition: all 1s;
}

.checkbox input[type="checkbox"]:active + label::before {
    box-shadow: 0px 0px 25px 3px rgba(242,228,237,1);
    transition: all 1s;
}


.checkbox input[type="checkbox"]:checked + label {
    opacity: 1;
    transition: all 1s;
}   

.checkbox input[type="checkbox"]:checked + label::before {
    font-family: fontawesome-webfont;
    content: "\f00c";
    transition: all 1s;

}   

/*
.before-footer {
    margin: 10px auto 20px auto;
    border-top: 5px solid #d0d0d0;
}
    */

footer {
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.45) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.45) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0.10) 100%);
    color: #b0b0b0;
    font-size: 10px;
}

footer .foot-header {
    color: dodgerblue;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: #b0b0b0;
    cursor: pointer;
    margin-top: 3px;
}

footer p {
    color: #b0b0b0;
    margin: auto 0px auto 0px;
}

footer span {
    float: left;
    color: white;
    font-size: 12px;
    height: 16px;
}

.footer-copyright {
    width: 225px;
    /*
    background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.45) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.45) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0.10) 100%);
    background: rgba(22, 113, 125, 0.6);

    */
    border-radius: 25px;
    color: white;    
    

}

.footer-copyright a {
    color: white;
    text-decoration: underline;
}

.footer-copyright-shadow {
    width: 213px;
    box-shadow: 0px 0px 6px 2px rgba(22, 213, 225,0.5);
    border-radius: 25px;
    background: none;
    background-color: rgba(22, 213, 225,0.35);
}

.footer .text-muted {
    color: #b0b0b0;
}

footer a:visited {
    color: orange;
    color: aquamarine;
}
/*
.form-group .dropdown .btn {
    text-align: left;
}
    */

.form-group .dropdown-menu
{
    /*min-width: 330px;*/
    border-radius: 2px;
    background-color: rgba(42,128,137,0.5);
    border: 1px solid white;
    box-shadow: 0px 0px 25px 3px rgba(142,228,237,1);
    border: 1px solid #bfa45b;
    border: 1px solid white;

    color: white;
/*    background: none;*/
}

.form-group .dropdown-menu {
    background: none;
/*    background-color: rgba(42,128,137,0.7);
    background: linear-gradient(to bottom, rgba(0,0,0,0.90) 0%,rgba(0,0,0,0.30) 100%);
  */  
    box-shadow: 0px 0px 26px -1px rgba(142,228,237,1);
    border: 1px solid white;
    
    background-color: rgba(42,128,137,0.7);
    background: linear-gradient(to bottom, rgba(0,0,0,0.90) 0%,rgba(0,0,0,0.30) 100%);
}

.form-group .dropdown-menu > li {
    background: none;
}

.form-group .dropdown-menu > li > a {
    color: #e0e0e0;
    /*background-color: rgba(42,128,137,0.5);*/
    background: none;
    font-size: 14px;
    text-decoration: none;
    text-align: left;
}


.form-group .dropdown-menu .active > li > a,
.form-group .dropdown-menu > li > a:hover {
    color: white;
    text-decoration: none;
    background-color: #dfc95b;
    /*box-shadow: 0px 0px 5px 2px #dfc95b;*/
    text-shadow: 1px 1px rgba(85, 85, 85, 0.7);
    background: none;
    background-color: rgba(72,158,167,0.7);
    box-shadow: 0px 0px 26px -1px rgba(142,228,237,1);
}

.form-group .dropdown-menu b {
    background-color: blue;
}
.form-group .dropdown-toggle {
    text-align: left;
    /*border-radius: 15px;
    border-color: blue;
    background: none;*/
}

.form-group .dropdown .caret {
    display: inline-block;
    float: right;
    margin: 0px;
    margin-top: -13px;
    padding: 0px;
}