<h2>Register</h2>

<p>Would you like to register as a Customer or a Provider for this website?</p>

<a asp-controller="Account" asp-action="RegisterCustomer">Register as a Customer</a><br />
<a asp-controller="Account" asp-action="RegisterProvider">Register as a Provider</a>