@model RegisterProviderViewModel

<h2>Register Provider</h2>

<form class="form-horizontal" asp-controller="Account" asp-action="RegisterProvider" method="post" role="form">
    <!-- They summerize the validation in a single line -->
    <!-- Show only those errors that occured with Model
         We don't want to show back-end errors in the view
        -->
    <!-- This is only a list, you can CSS this to the look you
         want.
        -->
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Username">Username:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Password">Password:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="ConfirmPassword">Confirm Password:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>

    <br/>

    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="DisplayName">Display Name:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="DisplayName" />
            <span asp-validation-for="DisplayName"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Phone">Phone:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Phone" />
            <span asp-validation-for="Phone"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Email">Email:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="ABN">ABN:</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="ABN" />
            <span asp-validation-for="ABN"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>

</form>