<h2>About Us</h2>
<div class="row">
    <div class="hidden-md-down col-md-5">
        <img src="~/images/aboutimage.jpg" />
    </div>
    <div class="col-md-6">
        <h3>Grande Travel</h3>
        <p>
            Grande Travel is a major website for more than a two dozen travel agencies.
            We specialized in Australian travel locations. The company's headquaters can be
            found in Sydney, Australia.
        </p>
        <h3>Our Mission</h3>
        <p>
            Grande Travel is proud to present the best value for
            our customers and the best service to our travel client.
        </p>
        <h3>Why is it great to plan your holiday with us?</h3>
        <p>
            Grande Travel is a perfect place to search and look for
            you holidays since it is easy-to-use and gives you very competetive prices.
        </p>
    </div>
</div>